*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    background-color: #21a304;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;   
}
h1{
    font-size: 2rem;
    margin: 1rem 0;
}
input{
    width: 30%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
}
button{
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: #e8e808;
    color: #000;
    cursor: pointer;
}